.Header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: white;
    list-style: none;
    height: 30px;
  }
  
  .HeaderItem {
    margin: 0 16px;
  }
  
  .Link {
    color: #61dafb;
  }
  